langchain
langchain-community
python-dotenv
fastapi
uvicorn
python-multipart
pypdf
sentence-transformers
faiss-cpu
langchain-chroma
chromaDB
faiss-cpu
yfinance
groq
langchain-groq
pypdf2
scikit-learn
pandas
numpy